<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>챗봇 답변</title>
    <link rel="stylesheet" href="./chat.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>    
</head>
<body>
    <header>
        <div class = 'header'><a href = "/home"><i class="fas fa-chevron-left" style = "color : #F85D5D"></i></a></div>
        <div style = 'margin-left : 120px; font-weight : bold;'>답변</div>
    </header>
    <main>
        <div class="container"></div>
        <a href = "/download/" style = "text-decoration: none; color : white;"><div class = "download">다른 질문하기</div></a>
    </main>

    <div class = 'footer'>
        <ul>
            <div class = 'nav' ><li><a href = '/home' style = "color : #C4C4C4;"><i class="fas fa-home"></a></i></li></div>
            <div class = 'now'><li><a href = '/write' style = "color : #F85D5D;"><i class="fas fa-pencil-alt"></i></a></li></div>
            <div class = 'nav'><li><i class="fas fa-comments"></i></li></div>
            <div class = 'nav'><li><i class="fas fa-bars"></i></li></div>
        </ul>   
    </div>
</body>
</html>