<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그림체 설명</title>
    <link rel="stylesheet" href="./description.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>    
</head>
<body>
    <header>
        <div class = 'header'><a href = "/home"><i class="fas fa-chevron-left" style = "color : #F85D5D"></i></a></div>
        <div style = 'margin-left : 120px; font-weight : bold;'>그림체 설명</div>
    </header>

    <main>
        <div class="img">
            <div class="img01">
                <img src="./img01.png" alt="실사" width= "250" style="margin: 10px;">
                    <input type = 'radio' name = 'style' value = 'human' style="margin-left: 100px;"><label>실사</label>
                    <!-- <span class="img_name">실사그림체</span> -->
            </div>
            <div class="img02">
                <img src="./img02.png" alt="웹툰" width= "250" style="margin: 10px;">
                    <input type = 'radio' name = 'style' value = 'webtoon' style="margin-left: 100px;"><label>웹툰</label>    
                    <!-- <span class="img_name">웹툰그림체</span> -->
            </div>
                <img id = 'img_section'>
            </div>
        </div>
    </main>

    <div class = 'footer'>
        <ul>
            <div class = 'nav' ><li><a href = '/home' style = "color : #C4C4C4;"><i class="fas fa-home"></a></i></li></div>
            <div class = 'now'><li><a href = '/write' style = "color : #F85D5D;"><i class="fas fa-pencil-alt"></i></a></li></div>
            <div class = 'nav'><li><i class="fas fa-comments"></i></li></div>
            <div class = 'nav'><li><i class="fas fa-bars"></i></li></div>
        </ul>
    </div>
</body>
</html>
